#pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.
#Pandas is a Python library.Pandas is used to analyze data.
1. Write a Python program to create and display a one-dimensional array-like object
containing an array of data using Pandas module.

In [17]:
import pandas as pd
#Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). 
df = pd.Series([2, 4, 6, 8, 10])
print(df)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [1]:
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,index=[3,2,1],columns=['Name','Age'],dtype=float)
print(df)

     Name   Age
3    Alex  10.0
2     Bob  12.0
1  Clarke  13.0

C:\Users\TARUN\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)

2. Write a Python program to convert a Panda module Series to Python list and it's type.

In [18]:
import pandas as pd
df = pd.Series([2, 4, 6, 8, 10])
print("Pandas Series")
print(df)
print("Its Data type")
print(type(df))
print("After converting Pandas Series to Python list")
print("Python list")
#tolist(), used to convert the data elements of an array into a list. 
print(df.tolist())
print("Its Data type is",type(df.tolist()))

Pandas Series
0     2
1     4
2     6
3     8
4    10
dtype: int64
Its Data type
<class 'pandas.core.series.Series'>
After converting Pandas Series to Python list
Python list
[2, 4, 6, 8, 10]
Its Data type is <class 'list'>

3. Write a Python program to add, subtract, multiple and divide two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [19]:
import pandas as pd
df1 = pd.Series([2, 4, 6, 8, 10])
df2 = pd.Series([1, 3, 5, 7, 9])
df = df1 + df2
print("Addion of two Series is:")
print(df)
print("Subtraction of two Series is:")
df = df1 - df2
print(df)
print("Multiplication of two Series is:")
df = df1 * df2
print(df)
print("Divide Series1 by Series2:")
df = df1 / df2
print(df)

Addion of two Series is:
0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtraction of two Series is:
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiplication of two Series is:
0     2
1    12
2    30
3    56
4    90
dtype: int64
Divide Series1 by Series2:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

4. Write a Python program to get the powers of an array values element-wise.
Note: First array elements raised to powers from second array.

In [21]:
import pandas as pd
import numpy as np

sample_array1 = np.arange(7)

# initialization the decimal number
sample_array2 = [1.0, 2.0, 3.0, 3.0, 3.0, 3.0, 3.0]

print("Original array ")
print("array1 ", sample_array1)
print("array2 ", sample_array2)

# calculating element-wise power
#The pow() function returns the value of x to the power of y i.e (xy).
power_array = np.power(sample_array1, sample_array2)

print("power to the array1 and array 2 : ", power_array)

Original array
array1  [0 1 2 3 4 5 6]
array2  [1.0, 2.0, 3.0, 3.0, 3.0, 3.0, 3.0]
power to the array1 and array 2 :  [  0.   1.   8.  27.  64. 125. 216.]

5. Write a Python program to create and display a DataFrame from a specified dictionary
data which has the index labels.

In [2]:
import pandas as pd
import numpy as np

exam_result  = {'Customer Name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
              'Marks': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
              'Trails': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
              'Qualified': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
order = [10,9,8,7,6,5,4,3,2,1]

df = pd.DataFrame(exam_result , index=order)
print(df)

   Customer Name  Marks  Trails Qualified
10     Anastasia   12.5       1       yes
9           Dima    9.0       3        no
8      Katherine   16.5       2       yes
7          James    NaN       3        no
6          Emily    9.0       2        no
5        Michael   20.0       3       yes
4        Matthew   14.5       1       yes
3          Laura    NaN       1        no
2          Kevin    8.0       2        no
1          Jonas   19.0       1       yes

6. Write a Python program to display a summary of the basic information about a
specified Data Frame and its data.

In [23]:
import pandas as pd
import numpy as np

exam_result  = {'Customer Name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
              'Marks': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
              'Trails': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
              'Qualified': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
order = [10,9,8,7,6,5,4,3,2,1]

df = pd.DataFrame(exam_result , index=order)
print(df)
print("Summary of the basic information about this DataFrame and its data:")
#The info() method prints information about the DataFrame.
#The information contains the number of columns, column labels, column data types, memory usage, range index
#and the number of cells in each column (non-null values).
print(df.info())

   Customer Name  Marks  Trails Qualified
10     Anastasia   12.5       1       yes
9           Dima    9.0       3        no
8      Katherine   16.5       2       yes
7          James    NaN       3        no
6          Emily    9.0       2        no
5        Michael   20.0       3       yes
4        Matthew   14.5       1       yes
3          Laura    NaN       1        no
2          Kevin    8.0       2        no
1          Jonas   19.0       1       yes
Summary of the basic information about this DataFrame and its data:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 10 to 1
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Customer Name  10 non-null     object
 1   Marks          8 non-null      float64
 2   Trails         10 non-null     int64
 3   Qualified      10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

7. Write a Python program to get the first 3 rows of a given DataFrame.
Sample Python dictionary data and list labels:

In [24]:
import pandas as pd
import numpy as np

exam_result  = {'Customer Name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
              'Marks': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
              'Trails': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
              'Qualified': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
order = [10,9,8,7,6,5,4,3,2,1]

df = pd.DataFrame(exam_result , index=order)
#loc selects rows and columns with specific labels
#iloc selects rows and columns at specific integer positions
print("First three rows of the data frame:")
print(df.iloc[:3])
#df.head(3)

First three rows of the data frame:
   Customer Name  Marks  Trails Qualified
10     Anastasia   12.5       1       yes
9           Dima    9.0       3        no
8      Katherine   16.5       2       yes

8. Write a Python program to select the 'Customer Name' and 'Marks' columns from the following
DataFrame.

In [25]:
import pandas as pd
import numpy as np

exam_result  = {'Customer Name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
              'Marks': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
              'Trails': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
              'Qualified': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
order = [10,9,8,7,6,5,4,3,2,1]

df = pd.DataFrame(exam_result , index=order)
print("Name and Score Columns:")
print(df[['Customer Name', 'Marks']])

Name and Score Columns:
   Customer Name  Marks
10     Anastasia   12.5
9           Dima    9.0
8      Katherine   16.5
7          James    NaN
6          Emily    9.0
5        Michael   20.0
4        Matthew   14.5
3          Laura    NaN
2          Kevin    8.0
1          Jonas   19.0

9. Write a Python program to select the specified columns and rows from a given data
frame.
Select 'Customer Nam' and 'Marks' columns in rows 1, 3, 5, 6 from the following data frame.

In [27]:
import pandas as pd
import numpy as np

exam_result  = {'Customer Name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
              'Marks': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
              'Trails': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
              'Qualified': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
order = [10,9,8,7,6,5,4,3,2,1]

df = pd.DataFrame(exam_result , index=order)
print("Select specific columns and rows:")
              #row index    #column index
print(df.iloc[[1, 3, 5, 6], [0, 1]])

Select specific columns and rows:
  Customer Name  Marks
9          Dima    9.0
7         James    NaN
5       Michael   20.0
4       Matthew   14.5

10. Write a Python program to select the rows where the number of attempts in the
examination is greater than 2.

In [28]:
import pandas as pd
import numpy as np

exam_result  = {'Customer Name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
              'Marks': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
              'Trails': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
              'Qualified': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
order = [10,9,8,7,6,5,4,3,2,1]

df = pd.DataFrame(exam_result , index=order)
df[df['Trails']>2]

  Customer Name  Marks  Trails Qualified
9          Dima    9.0       3        no
7         James    NaN       3        no
5       Michael   20.0       3       yes

11. Write a Python program to count the number of rows and columns of a DataFrame.

In [29]:
import pandas as pd
import numpy as np

exam_result  = {'Customer Name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
              'Marks': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
              'Trails': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
              'Qualified': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
order = [10,9,8,7,6,5,4,3,2,1]

df = pd.DataFrame(exam_result , index=order)
#A DataFrame object has two axes: “axis 0” and “axis 1”. “axis 0” represents rows and “axis 1” represents columns.
print(df.axes[0])
print(df.axes[1])
print("Number of Rows: "+str(len(df.axes[0])))
print("Number of Columns: "+str(len(df.axes[1])))

Int64Index([10, 9, 8, 7, 6, 5, 4, 3, 2, 1], dtype='int64')
Index(['Customer Name', 'Marks', 'Trails', 'Qualified'], dtype='object')
Number of Rows: 10
Number of Columns: 4

12. Write a Python program to select the rows where the marks is missing, i.e. is NaN.

In [31]:
import pandas as pd
import numpy as np

exam_result  = {'Customer Name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
              'Marks': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
              'Trails': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
              'Qualified': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
order = [10,9,8,7,6,5,4,3,2,1]

df = pd.DataFrame(exam_result , index=order)
print("Rows where score is missing:")
#Replace all values in the DataFrame with True for NULL values, otherwise False:
print(df[df['Marks'].isnull()])

Rows where score is missing:
  Customer Name  Marks  Trails Qualified
7         James    NaN       3        no
3         Laura    NaN       1        no

13. Write a Python program to select the rows where number of trails in the
examination is less than 2 and marks greater than 15.

In [32]:
exam_result  = {'Customer Name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
              'Marks': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
              'Trails': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
              'Qualified': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
order = [10,9,8,7,6,5,4,3,2,1]
df = pd.DataFrame(exam_result , index=order)
print("Number of attempts in the examination is less than 2 and score greater than 15 :")
print(df[(df['Trails'] < 2) & (df['Marks'] > 15)])

Number of attempts in the examination is less than 2 and score greater than 15 :
  Customer Name  Marks  Trails Qualified
1         Jonas   19.0       1       yes

14. Write a Python program to change the score in row '7' to 11.5.

In [33]:
exam_result  = {'Customer Name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
              'Marks': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
              'Trails': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
              'Qualified': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
order = [10,9,8,7,6,5,4,3,2,1]
df = pd.DataFrame(exam_result , index=order)
print("\nOriginal data frame:")
print(df)
print("\nChange the marks in row '7' to 11.5:")
      #row index #column index
      #for labels loc for integers(indexes) iloc.
df.loc[7, 'Marks'] = 11.5
print(df)

Original data frame:
   Customer Name  Marks  Trails Qualified
10     Anastasia   12.5       1       yes
9           Dima    9.0       3        no
8      Katherine   16.5       2       yes
7          James    NaN       3        no
6          Emily    9.0       2        no
5        Michael   20.0       3       yes
4        Matthew   14.5       1       yes
3          Laura    NaN       1        no
2          Kevin    8.0       2        no
1          Jonas   19.0       1       yes

Change the marks in row '7' to 11.5:
   Customer Name  Marks  Trails Qualified
10     Anastasia   12.5       1       yes
9           Dima    9.0       3        no
8      Katherine   16.5       2       yes
7          James   11.5       3        no
6          Emily    9.0       2        no
5        Michael   20.0       3       yes
4        Matthew   14.5       1       yes
3          Laura    NaN       1        no
2          Kevin    8.0       2        no
1          Jonas   19.0       1       yes

15. Write a Python program to calculate the sum of the examination trails by the
students.

In [34]:
exam_result  = {'Customer Name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
              'Marks': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
              'Trails': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
              'Qualified': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
order = [10,9,8,7,6,5,4,3,2,1]
df = pd.DataFrame(exam_result , index=order)
print("\nSum of the examination attempts by the students:")
#The sum() function returns a number, the sum of all items in an iterable.
print(df['Trails'].sum())

Sum of the examination attempts by the students:
19

16. Write a Python program to calculate the mean score for each different student in
DataFrame.

In [35]:
exam_result  = {'Customer Name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
              'Marks': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
              'Trails': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
              'Qualified': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
order = [10,9,8,7,6,5,4,3,2,1]
df = pd.DataFrame(exam_result , index=order)
print("\nMean score for each different student in data frame:")
#mean() function can be used to calculate mean/average of a given list of numbers.
print(df['Marks'].mean())

Mean score for each different student in data frame:
13.5625

17. Write a Python program to append a new row 'k' to data frame with given values for
each column. Now delete the new row and return the original DataFrame.

In [36]:
exam_result  = {'Customer Name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
              'Marks': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
              'Trails': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
              'Qualified': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
order = [10,9,8,7,6,5,4,3,2,1]
df = pd.DataFrame(exam_result , index=order)
print("Original rows:")
print(df)
print("\nAppend a new row:")
df.loc['k'] = [1, 'Suresh', 'yes', 15.5]
print("Print all records after insert a new record:")
print(df)

Original rows:
   Customer Name  Marks  Trails Qualified
10     Anastasia   12.5       1       yes
9           Dima    9.0       3        no
8      Katherine   16.5       2       yes
7          James    NaN       3        no
6          Emily    9.0       2        no
5        Michael   20.0       3       yes
4        Matthew   14.5       1       yes
3          Laura    NaN       1        no
2          Kevin    8.0       2        no
1          Jonas   19.0       1       yes

Append a new row:
Print all records after insert a new record:
   Customer Name   Marks Trails Qualified
10     Anastasia    12.5      1       yes
9           Dima     9.0      3        no
8      Katherine    16.5      2       yes
7          James     NaN      3        no
6          Emily     9.0      2        no
5        Michael    20.0      3       yes
4        Matthew    14.5      1       yes
3          Laura     NaN      1        no
2          Kevin     8.0      2        no
1          Jonas    19.0      1       yes
k              1  Suresh    yes      15.5

In [37]:
print("\nDelete the new row and display the original  rows:")
df = df.drop('k')
print(df)

Delete the new row and display the original  rows:
   Customer Name Marks Trails Qualified
10     Anastasia  12.5      1       yes
9           Dima   9.0      3        no
8      Katherine  16.5      2       yes
7          James   NaN      3        no
6          Emily   9.0      2        no
5        Michael  20.0      3       yes
4        Matthew  14.5      1       yes
3          Laura   NaN      1        no
2          Kevin   8.0      2        no
1          Jonas  19.0      1       yes

18. Write a Python program to sort the DataFrame first by 'Customer Name' in descending order,
then by 'Marks' in ascending order

In [38]:
exam_result  = {'Customer Name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
              'Marks': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            
              'Trails': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
              'Qualified': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
order = [10,9,8,7,6,5,4,3,2,1]
df = pd.DataFrame(exam_result , index=order)
print("Before Sorting:")
print(df)
df=df.sort_values(by=['Customer Name', 'Marks'], ascending=[False, True])
print("Sort the data frame first by Customer Name in descending order, then by Marks in ascending order:")
print(df)

Before Sorting:
   Customer Name  Marks  Trails Qualified
10     Anastasia   12.5       1       yes
9           Dima    9.0       3        no
8      Katherine   16.5       2       yes
7          James    NaN       3        no
6          Emily    9.0       2        no
5        Michael   20.0       3       yes
4        Matthew   14.5       1       yes
3          Laura    NaN       1        no
2          Kevin    8.0       2        no
1          Jonas   19.0       1       yes
Sort the data frame first by Customer Name in descending order, then by Marks in ascending order:
   Customer Name  Marks  Trails Qualified
5        Michael   20.0       3       yes
4        Matthew   14.5       1       yes
3          Laura    NaN       1        no
2          Kevin    8.0       2        no
8      Katherine   16.5       2       yes
1          Jonas   19.0       1       yes
7          James    NaN       3        no
6          Emily    9.0       2        no
9           Dima    9.0       3        no
10     Anastasia   12.5       1       yes

19. Write a Python program to replace the 'qualify' column contains the values 'yes' and
'no' with True and False.

In [39]:
exam_result  = {'Customer Name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
              'Marks': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
              'Trails': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
              'Qualified': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
order = [10,9,8,7,6,5,4,3,2,1]
df = pd.DataFrame(exam_result , index=order)
print("Original rows:")
print(df)
print("\nDelete the 'Qualified' column from the data frame:")
df=df.drop('Qualified', axis = 1)
print(df)

Original rows:
   Customer Name  Marks  Trails Qualified
10     Anastasia   12.5       1       yes
9           Dima    9.0       3        no
8      Katherine   16.5       2       yes
7          James    NaN       3        no
6          Emily    9.0       2        no
5        Michael   20.0       3       yes
4        Matthew   14.5       1       yes
3          Laura    NaN       1        no
2          Kevin    8.0       2        no
1          Jonas   19.0       1       yes

Delete the 'Qualified' column from the data frame:
   Customer Name  Marks  Trails
10     Anastasia   12.5       1
9           Dima    9.0       3
8      Katherine   16.5       2
7          James    NaN       3
6          Emily    9.0       2
5        Michael   20.0       3
4        Matthew   14.5       1
3          Laura    NaN       1
2          Kevin    8.0       2
1          Jonas   19.0       1

20. Write a Python program to delete the 'Trails' column from the DataFrame.

In [40]:
exam_result  = {'Customer Name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
              'Marks': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
              'Trails': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
              'Qualified': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
order = [10,9,8,7,6,5,4,3,2,1]
df = pd.DataFrame(exam_result , index=order)
print("Original rows:")
print(df)
print("\nDelete the 'Trails' column from the data frame:")
df=df.drop('Trails', axis = 1)
print(df)

Original rows:
   Customer Name  Marks  Trails Qualified
10     Anastasia   12.5       1       yes
9           Dima    9.0       3        no
8      Katherine   16.5       2       yes
7          James    NaN       3        no
6          Emily    9.0       2        no
5        Michael   20.0       3       yes
4        Matthew   14.5       1       yes
3          Laura    NaN       1        no
2          Kevin    8.0       2        no
1          Jonas   19.0       1       yes

Delete the 'Trails' column from the data frame:
   Customer Name  Marks Qualified
10     Anastasia   12.5       yes
9           Dima    9.0        no
8      Katherine   16.5       yes
7          James    NaN        no
6          Emily    9.0        no
5        Michael   20.0       yes
4        Matthew   14.5       yes
3          Laura    NaN        no
2          Kevin    8.0        no
1          Jonas   19.0       yes

21. Write a Python program to insert a new column in existing DataFrame.

In [42]:
exam_result  = {'Customer Name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
              'Marks': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
              'Trails': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
              'Qualified': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
order = [10,9,8,7,6,5,4,3,2,1]
df = pd.DataFrame(exam_result , index=order)
print("Original rows:")
print(df)
color = ['Red','Blue','Orange','Red','White','White','Blue','Green','Green','Red']
df['color'] = color
print("\nNew DataFrame after inserting the 'color' column")
print(df)

Original rows:
   Customer Name  Marks  Trails Qualified
10     Anastasia   12.5       1       yes
9           Dima    9.0       3        no
8      Katherine   16.5       2       yes
7          James    NaN       3        no
6          Emily    9.0       2        no
5        Michael   20.0       3       yes
4        Matthew   14.5       1       yes
3          Laura    NaN       1        no
2          Kevin    8.0       2        no
1          Jonas   19.0       1       yes

New DataFrame after inserting the 'color' column
   Customer Name  Marks  Trails Qualified   color
10     Anastasia   12.5       1       yes     Red
9           Dima    9.0       3        no    Blue
8      Katherine   16.5       2       yes  Orange
7          James    NaN       3        no     Red
6          Emily    9.0       2        no   White
5        Michael   20.0       3       yes   White
4        Matthew   14.5       1       yes    Blue
3          Laura    NaN       1        no   Green
2          Kevin    8.0       2        no   Green
1          Jonas   19.0       1       yes     Red

22. Write a Python program to iterate over rows in a DataFrame.

In [44]:
exam_result  = {'Customer Name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
              'Marks': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
              'Trails': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
              'Qualified': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
order = [10,9,8,7,6,5,4,3,2,1]
df = pd.DataFrame(exam_result , index=order)
#iterrows():The iterrows() method generates an iterator object of the DataFrame, allowing us to iterate each row in the DataFrame.
#Each iteration produces an index object and a row object (a Pandas Series object).
for index, row in df.iterrows():
    print(row['Customer Name'], row['Marks'], row['Trails'], row['Qualified'])

Anastasia 12.5 1 yes
Dima 9.0 3 no
Katherine 16.5 2 yes
James nan 3 no
Emily 9.0 2 no
Michael 20.0 3 yes
Matthew 14.5 1 yes
Laura nan 1 no
Kevin 8.0 2 no
Jonas 19.0 1 yes

23. Write a Python program to get list from DataFrame column headers.

In [45]:
exam_result  = {'Customer Name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
              'Marks': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
              'Trails': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
              'Qualified': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
order = [10,9,8,7,6,5,4,3,2,1]
print(list(df.columns.values))

['Customer Name', 'Marks', 'Trails', 'Qualified']